# System
APP_PROD=0							# `1` to limit certain read/write to not interfere with production data.
APP_DEBUG=1							# `1` to display debugging information to front.

# Meta
APP_NAME="Frrame"
APP_VERSION="1.0"

# Application
APP_PROTOCOL=http					# http or https. It can be other as well if needed.
APP_PORT=							# Keep it blank if there is no need for indication.
APP_DOMAIN=""						# Just the domain. Sub domains also come here.
APP_URI=""							# The rest of url to treat as root url of your application.

APP_LOCALE=ja
APP_LOCALE_NAME="日本語"
APP_TIMEZONE="Asia/Tokyo"

# Database
DB_DRVR=sqlite						# sqlite, pgsql, mysql, etc.
DB_HOST=""							# Keep empty if it is a filebased database.
DB_PORT=
DB_NAME=""
DB_USER=""
DB_PASS=""

# Mail
MAIL_MAILER=smtp
MAIL_HOST="127.0.0.1"
MAIL_PORT=25
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM=""
MAIL_FROM_NAME="${APP_NAME}"

# API, etc.
GOOGLE_OAUTH_PK=""
GOOGLE_OAUTH_SK=""

STRIPE_PK=""
STRIPE_SK=""

CURRENCY=JPY